/* Setting margin, padding, box-sizing*/
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
/*Set font */
body {
  font-family: sans-serif;
}

/* Establsh the width of content about each section */
.container {
  height: 500px;
  max-width: 800px;
  margin: auto;
  position: relative;
}

/* Start customing section HEADER */

header {
  height: 500px;
  background-image: url("../img/jumbo.png");
  background-size: cover;
}

/*Start customing top-header*/

.top-header {
  height: 50px;
  line-height: 50px;
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Prefixed size px */
.wd-100px {
  width: 100px;
  vertical-align: middle;
}
/* Prefixed size px */
.wd-200px {
  width: 200px;
  vertical-align: middle;
  text-align: center;
}
/* Prefixed size in percentual*/
.wd-60p {
  width: 60%;
}

/*Logo page */
.logo {
  height: 50px;
  line-height: 50px;
  width: 200px;
}

/* Start customing navigation bar with relative functions */
.nav {
  text-align: center;
  height: 50px;
  width: 396px;
}

/*Custom list-item of the nav bar */
li {
  list-style-type: none;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 20px;
}

li a {
  font-size: 10px;
  text-decoration: none;
  color: white;
}
/* Finish nav bar */

/*Custom button of top-header */
.btn {
  background-color: white;
  color: black;
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;
  font-size: 10px;
}

/*Start customing bottom-header*/

.bottom-header {
  height: 450px;
  width: 100%;
}

.content-bottom {
  position: absolute;
  text-align: center;
  margin: auto;
  color: white;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-bottom h1 {
  margin-bottom: 20px;
  font-size: 45px;
}

.content-bottom p {
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 40px;
}

/*Custom Button large used mainly for the bottom-header */
.btn-lrg {
  background-color: white;
  color: black;
  border-radius: 25px;
  padding: 15px;
  text-decoration: none;
  font-size: 15px;
  margin-right: 20px;
}
/* BG black and color white*/
.dark-btn {
  background-color: black;
  color: white;
}
/* Finish customing section Header*/

/*Start first section*/

.first-section .container {
  color: black;
}

/* Setting position img and text of the first section*/
.first-section img,
.second-section img,
.third-section img {
  margin-top: 50px;
}
/* Container of text*/
.mini-section {
  width: 30%;
  height: 500px;
}

h1 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 30px;
}

p {
  font-size: 14px;
}

/* Custom effect wave */

.wave {
  display: block;
  color: hsl(0deg 0% 96%);
}

/* Start second section */
.second-section {
  background-color: hsl(0deg 0% 96%);
}

.wave2 {
  color: white;
  background-color: hsl(0deg 0% 96%);
}
