/* Setting margin, padding, box-sizing*/
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
/*Set font */
body {
  font-family: serif;
}

/* Start customing section HEADER */

header {
  margin-top: 10px;
  height: 300px;
}

.container {
  height: 300px;
  max-width: 800px;
  margin: auto;
}

/*Start customing top-header*/

.top-header {
  height: 50px;
  line-height: 50px;
  width: 100%;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  height: 50px;
  width: 200px;
}

.nav {
  float: left;
  text-align: center;
  height: 50px;
  width: 396px;
}

li {
  list-style-type: none;
  height: 40px;
  width: 70px;
  display: inline-block;
}

.btn {
  height: 50px;
  width: 200px;
  float: left;
}

/*Start customing bottom-header*/

.bottom-header {
  height: 250px;
  width: 100%;
}

/* Finish customing section Header*/
/*Tools debug*/

.debug header {
  border: 1px solid black;
}

.debug .container {
  border: 1px solid red;
}

.debug .top-header {
  border: 1px solid purple;
}

.debug .bottom-header {
  border: 1px solid violet;
}

.debug .logo {
  border: 1px solid yellow;
}

.debug .nav {
  border: 1px solid goldenrod;
}

.debug .btn {
  border: 1px solid blue;
}

.debug li {
  border: 1px solid black;
}
